body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    font-size: 40px;
}

.first {
    color: red;
}

#your-name {
    background-color: rgb(219, 191, 135);
    border: 5px solid #413d3d;
}