*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px;
}
h1{
    font-size: 35px;
    margin-bottom: 25px;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

p{
    margin-bottom: 20px;
}

.first {
    color: red;
}

#your-name {
    background-color: rgb(219, 191, 135);
    border: 5px solid #413d3d;
    width: 400px;
    padding: 25px;
    margin-top: 50px;
}

input, button{
    padding: 10px;
    font-size: 16px;
}

a {
    background-color:burlywood;
}

#course-image{
    width: 200px;
    height: 200px;
}

#your-name h2{
    color: olivedrab;
}





